numpy
pandas
scikit-learn
torch
transformers
sentence-transformers
faiss-cpu
pymupdf4llm
langchain
langchain-community
langchain-core
langchain-openai
langchain-google-genai
ragas
openai
google-generativeai
tiktoken
jupyter
streamlit
matplotlib